* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Important for responsive sizingggggg*/
}
body {
    background-color: #3b9496;
    text-align: center;
    font-family: sans-serif;
}
h1 {
    margin-top: 2rem;
    color: #fff;
    font-size: 3rem;
}
.container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
    cursor: pointer;
}
.box:disabled {
    cursor: not-allowed;
    background-color: #e0e0b0; /* Slightly darker to show disabled state */
}
#reset-btn {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 2rem;
}
.msg-container {
    height: 100vh;
    width: 100vw;
    position: fixed; /* Covers the whole screen */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    z-index: 10; /* Ensures it sits on top of everything */
}
#msg {
    color: #ffffc7;
    font-size: 8vmin;
    text-align: center;
}
#new-btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #b0413e;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
.hide {
    display: none;
}
@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    .container {
        height: 50vh;
    }
}